In [1]:
# Importing all needed librairies
import re
import string
import pandas as pd

In [2]:
# For loop to count the occurences of words in the text file
frequency = {}
document_text = open('YT_comments.txt', 'r', encoding = 'utf8')
text_string = document_text.read().lower()
match_pattern = re.findall(r'\b[a-z]{3,15}\b', text_string)
 
for word in match_pattern:
    count = frequency.get(word,0)
    frequency[word] = count + 1
     
frequency_list = frequency.keys()

mywordlist = []
myfrequencylist = []

for words in frequency_list:
    mywordlist.append(words)
    myfrequencylist.append(frequency[words])

list = {'Word':mywordlist,'Frequency':myfrequencylist}

In [3]:
# Creating a data frame with the word and frequency lists
df = pd.DataFrame(list)
df.head()

      Word  Frequency
0     cant         53
1     wait        269
2      for       1099
3      the       3861
4  release         45

In [4]:
# Top 15 Words found in YouTube Comments (eliminating stop words)
df_filtered = df[df['Frequency'] >= 100]
dfstopwords = df_filtered[~df_filtered['Word'].isin(['the','and', 'this', 'they', 'you', 'that', 'for', 'all', 'have', 
                                                     'will', 'just', 'not', 'but', 'have', 'can', 'with', 'are', 'what', 
                                                     'was', 'now', 'get', 'from', 'how', 'one', 'there', 'when', 'more', 
                                                     'about', 'only', 'going', 'has', 'own','their','would','every','put',
                                                     'should','its', 'then', 'ndisney', 'got','gonna'])]
dfstopwords.head(15).sort_values(by=['Frequency'], ascending = False)

        Word  Frequency
8     disney       2993
34   netflix       1066
37    movies        540
18    marvel        366
28     money        306
62     watch        299
22     shows        287
1       wait        269
27      want        261
17       buy        234
51      plus        206
61      love        169
64  original        157
41      time        143
60     video        120